@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f5f8;
  --foreground: #171717;
  --font-roboto: 'Roboto', sans-serif;
  --font-orbitron: 'Orbitron', sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif,var(--font-roboto), var(--font-poppins);
  font-family:var(--font-roboto);
  
}
.font-roboto {
  font-family: var(--font-roboto);
}

.font-orbitron {
  font-family: var(--font-orbitron);
}
